.App{
    width: 100%;
    height: 650px;
    background-color: rgb(140, 144, 146);
    display:flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: rgb(115, 190, 224);
    width:450px;
    border-radius: 30px;
    padding: 50px;
}
.header{
    text-align: center;
    margin: 10px;
}
.header h2{
    color: coral;
    text-decoration: underline;
}
.header p{
    color: ghostwhite;
    text-shadow: 2px 2px #FF0000;
    margin: 10px;
}
.total{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(204, 157, 166);
    height: 150px;
    border-radius: 30px;
    box-shadow: 4px 4px 8px 2px #94515e;
}
.total h1{
    font-size:xx-large;
    color: blue;
}
.input{
    display: flex;
    flex-direction: column;
}
.button{
    display: flex;
    justify-content: space-around;
    margin: 20px;
}